# Limpieza datos

In [ ]:
import pickle

# Cargar df_usuarios desde el archivo Pickle
with open('./pickle/df_usuarios.pickle', 'rb') as file:
    df_usuarios = pickle.load(file)

# Cargar df_ayudas desde el archivo Pickle
with open('./pickle/df_ayudas.pickle', 'rb') as file:
    df_ayudas = pickle.load(file)

# Cargar df_quejas desde el archivo Pickle
with open('./pickle/df_quejas.pickle', 'rb') as file:
    df_quejas = pickle.load(file)

In [2]:
df_usuarios

,_id,ID,Nombre,Apellido,Telefono,Ciudad,Edad,Email,Sexo
0,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre
1,64819758d519b789f5d44e9d,1,Anita,Bejarano,+34 928 672 170,Portugalete,89,zunigapeter@example.org,hombre
2,64819758d519b789f5d44e9e,2,Teodoro,Barón,+34846031451,Bilbao,95,josephtaylor@example.org,mujer
3,64819759d519b789f5d44e9f,3,Vito,Díaz,+34879969480,Bilbao,90,davidkrause@example.net,mujer
4,64819759d519b789f5d44ea0,4,Trinidad,Bernal,+34 827 38 78 10,Durango,74,justincollins@example.net,mujer
...,...,...,...,...,...,...,...,...,...
9995,64819a36d519b789f5d475a7,9995,Joel,Aragón,+34 845 466 301,Sondika,100,michelleromero@example.com,hombre
9996,64819a36d519b789f5d475a8,9996,Jose Carlos,Acevedo,+34 883 460 002,Getxo,66,swilkinson@example.com,mujer
9997,64819a36d519b789f5d475a9,9997,Rosalía,Alsina,+34 974225791,Muskiz,81,kimberly60@example.net,hombre
9998,64819a36d519b789f5d475aa,9998,Berta,Catalán,+34926727328,Ermua,70,olevine@example.net,mujer
9999,64819a36d519b789f5d475ab,9999,Tristán,Fajardo,+34 925 30 15 29,Ermua,86,john14@example.com,mujer

In [3]:
df_ayudas

,_id,usuario_id,fecha,categoria,subcategoria
0,64805d28a109944442e48710,6628,2022-03-31,hogar,compras
1,64805d29a109944442e48711,6073,2022-08-03,hogar,nutricion y alimentacion
2,64805d29a109944442e48712,8155,2022-05-21,tramites,tramites medicos
3,64805d29a109944442e48713,7068,2022-05-11,tramites,vamos al banco
4,64805d29a109944442e48714,6206,2022-12-20,tramites,tramites medicos
...,...,...,...,...,...
49995,64806cb3a109944442e54a5b,4379,2022-04-13,ayuda movilidad,transporte
49996,64806cb3a109944442e54a5c,4556,2022-01-21,ayuda movilidad,transporte
49997,64806cb3a109944442e54a5d,8931,2022-12-19,hogar,compras
49998,64806cb3a109944442e54a5e,7556,2022-04-03,tramites,vamos al banco
49999,64806cb3a109944442e54a5f,1839,2022-02-19,ayuda movilidad,transporte

In [4]:
df_quejas

,_id,ID,id_queja,Texto,Fecha
0,64806d7da109944442e54b3e,904,0,Falta de accesibilidad en los espacios públicos.,2022-01-18
1,64806d7ea109944442e54b3f,924,1,Mejorar la iluminación en las calles durante l...,2022-01-27
2,64806d7ea109944442e54b40,405,2,Necesidad de más asientos o bancos en áreas de...,2022-05-23
3,64806d7ea109944442e54b41,728,3,Dificultad para leer letreros y carteles debid...,2022-10-09
4,64806d7ea109944442e54b42,651,4,Escasez de transporte público accesible para p...,2022-01-06
...,...,...,...,...,...
214,64806d8ea109944442e54c14,224,214,Limitada disponibilidad de opciones de cuidado...,2022-02-06
215,64806d8ea109944442e54c15,666,215,Dificultad para acceder a servicios de transpo...,2022-12-01
216,64806d8ea109944442e54c16,349,216,Escasez de opciones de recreación y entretenim...,2022-10-17
217,64806d8ea109944442e54c17,620,217,Falta de servicios de orientación y asesoramie...,2022-10-15
218,64806d8ea109944442e54c18,808,218,Limitada accesibilidad en los espacios de trab...,2022-04-04

In [5]:
import requests
import pandas as pd

localidades_bizkaia = [
    'Abadiño',
    'Amorebieta-Etxano',
    'Arakaldo',
    'Arantzazu',
    'Areatza',
    'Arrankudiaga',
    'Arratzu',
    'Arrieta',
    'Arrigorriaga',
    'Artea',
    'Artzentales',
    'Atxondo',
    'Aulesti',
    'Bakio',
    'Balmaseda',
    'Barakaldo',
    'Barrika',
    'Basauri',
    'Bedia',
    'Berango',
    'Bermeo',
    'Berriatua',
    'Berriz',
    'Bilbao',
    'Busturia',
    'Derio',
    'Dima',
    'Durango',
    'Ea',
    'Elantxobe',
    'Elorrio',
    'Erandio',
    'Ereño',
    'Ermua',
    'Errigoiti',
    'Etxebarri',
    'Etxebarria',
    'Forua',
    'Fruiz',
    'Galdakao',
    'Galdames',
    'Gamiz-Fika',
    'Garai',
    'Gatika',
    'Gautegiz Arteaga',
    'Gernika-Lumo',
    'Getxo',
    'Gizaburuaga',
    'Gordexola',
    'Gorliz',
    'Güeñes',
    'Ibarrangelu',
    'Igorre',
    'Ispaster',
    'Iurreta',
    'Izurtza',
    'Karrantza Harana/Valle de Carranza',
    'Kortezubi',
    'Lanestosa',
    'Larrabetzu',
    'Laukiz',
    'Leioa',
    'Lekeitio',
    'Lemoa',
    'Lemoiz',
    'Lezama',
    'Loiu',
    'Mallabia',
    'Mañaria',
    'Markina-Xemein',
    'Maruri-Jatabe',
    'Mendata',
    'Mendexa',
    'Meñaka',
    'Morga',
    'Mundaka',
    'Mungia',
    'Munitibar-Arbatzegi Gerrikaitz',
    'Murueta',
    'Muskiz',
    'Muxika',
    'Nabarniz',
    'Ondarroa',
    'Orozko',
    'Ortuella',
    'Otxandio',
    'Plentzia',
    'Portugalete',
    'Santurtzi',
    'Sestao',
    'Sondika',
    'Sopela',
    'Sopuerta',
    'Sukarrieta',
    'Trucios-Turtzioz',
    'Ubide',
    'Ugao-Miraballes',
    'Urduliz',
    'Urduña/Orduña',
    'Valle de Trápaga-Trapagaran',
    'Zaldibar',
    'Zalla',
    'Zamudio',
    'Zaratamo',
    'Zeanuri',
    'Zeberio',
    'Zierbena',
    'Ziortza-Bolibar'
]


def obtener_coordenadas(localidad):
    url = f'https://nominatim.openstreetmap.org/search?format=json&q={localidad}, Bizkaia, Spain'
    response = requests.get(url)
    data = response.json()
    if data:
        latitud = float(data[0]['lat'])
        longitud = float(data[0]['lon'])
        return latitud, longitud
    else:
        return None

# Obtener coordenadas de todas las localidades
coordenadas = []
for localidad in localidades_bizkaia:
    coords = obtener_coordenadas(localidad)
    if coords:
        coordenadas.append(coords)
    else:
        coordenadas.append((None, None))

# Crear DataFrame de pandas
df_coordenadas = pd.DataFrame(coordenadas, columns=['Latitud', 'Longitud'])
df_coordenadas['Ciudad'] = localidades_bizkaia

# Imprimir el DataFrame
print(df_coordenadas)

       Latitud  Longitud             Ciudad
0    43.153132 -2.607847            Abadiño
1    43.220176 -2.732315  Amorebieta-Etxano
2    43.152773 -2.934950           Arakaldo
3    43.156731 -2.790589          Arantzazu
4    43.121449 -2.769413            Areatza
..         ...       ...                ...
103  43.211818 -2.873426           Zaratamo
104  43.098402 -2.749473            Zeanuri
105  43.147616 -2.848172            Zeberio
106  43.351832 -3.082039           Zierbena
107  43.250612 -2.547884    Ziortza-Bolibar

[108 rows x 3 columns]

In [6]:
df_combinado = pd.merge(df_usuarios, df_coordenadas, on='Ciudad')

In [7]:
df_combinado

,_id,ID,Nombre,Apellido,Telefono,Ciudad,Edad,Email,Sexo,Latitud,Longitud
0,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre,43.328753,-3.031877
1,64819759d519b789f5d44ea5,9,Jimena,Arnal,+34 981260355,Santurtzi,55,duranjennifer@example.net,hombre,43.328753,-3.031877
2,64819759d519b789f5d44ea8,12,Eustaquio,Juárez,+34878 358 135,Santurtzi,74,cristinalove@example.org,mujer,43.328753,-3.031877
3,6481975cd519b789f5d44ed1,53,Itziar,Segura,+34981 17 06 62,Santurtzi,66,justinthomas@example.net,prefiero no contestar,43.328753,-3.031877
4,6481975cd519b789f5d44ed4,56,Leandro,Alcántara,+34 848566060,Santurtzi,75,hansenjustin@example.net,hombre,43.328753,-3.031877
...,...,...,...,...,...,...,...,...,...,...,...
9994,6481992cd519b789f5d4679a,6398,Casemiro,Salmerón,+34923016565,Izurtza,85,hestrada@example.net,mujer,43.154493,-2.639780
9995,64819996d519b789f5d46d47,7851,Cintia,Falcó,+34807 059 315,Izurtza,61,jbrown@example.org,mujer,43.154493,-2.639780
9996,648199bed519b789f5d46f52,8374,Timoteo,Arroyo,+34886 15 70 31,Meñaka,87,cmccoy@example.org,hombre,43.362741,-2.802348
9997,64819a33d519b789f5d47579,9949,Valerio,Velázquez,+34 972 188 049,Meñaka,79,jason17@example.net,hombre,43.362741,-2.802348
9998,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700

In [8]:
df_combinado['Ciudad'].unique()

array(['Santurtzi', 'Portugalete', 'Bilbao', 'Durango', 'Barakaldo',
       'Getxo', 'Basauri', 'Leioa', 'Amorebieta-Etxano', 'Etxebarri',
       'Balmaseda', 'Zamudio', 'Markina-Xemein',
       'Valle de Trápaga-Trapagaran', 'Mungia', 'Sondika', 'Gorliz',
       'Arrigorriaga', 'Ermua', 'Zeberio', 'Elorrio', 'Sopela', 'Bakio',
       'Ugao-Miraballes', 'Otxandio', 'Galdakao', 'Muskiz', 'Sopuerta',
       'Lemoa', 'Gernika-Lumo', 'Ortuella', 'Sestao', 'Urduña/Orduña',
       'Iurreta', 'Berriz', 'Trucios-Turtzioz', 'Lekeitio', 'Berango',
       'Erandio', 'Morga', 'Güeñes', 'Bermeo', 'Zalla', 'Igorre',
       'Larrabetzu', 'Loiu', 'Derio', 'Mundaka', 'Bedia', 'Urduliz',
       'Arantzazu', 'Berriatua', 'Ibarrangelu', 'Arrieta', 'Galdames',
       'Ea', 'Fruiz', 'Abadiño', 'Karrantza Harana/Valle de Carranza',
       'Ondarroa', 'Muxika', 'Laukiz', 'Gatika', 'Mañaria', 'Zierbena',
       'Arakaldo', 'Orozko', 'Zeanuri', 'Lemoiz', 'Dima',
       'Ziortza-Bolibar', 'Munitibar-Arbatzegi Gerrikaitz', 'Gordexola',
       'Artzentales', 'Zaldibar', 'Barrika', 'Busturia', 'Zaratamo',
       'Gamiz-Fika', 'Mallabia', 'Lanestosa', 'Aulesti', 'Atxondo',
       'Plentzia', 'Nabarniz', 'Lezama', 'Maruri-Jatabe', 'Gizaburuaga',
       'Ispaster', 'Gautegiz Arteaga', 'Areatza', 'Artea', 'Sukarrieta',
       'Arratzu', 'Elantxobe', 'Ereño', 'Forua', 'Errigoiti', 'Garai',
       'Mendata', 'Kortezubi', 'Ubide', 'Arrankudiaga', 'Murueta',
       'Izurtza', 'Meñaka', 'Etxebarria'], dtype=object)

In [9]:
# Combinar los DataFrames df_usuarios y df_ayudas en función de la columna "ID"
import pandas as pd


df_usuarios_ayudas = pd.merge(df_combinado, df_ayudas, left_on="ID", right_on="usuario_id")

# Imprimir el DataFrame combinado
df_usuarios_ayudas

,_id_x,ID,Nombre,Apellido,Telefono,Ciudad,Edad,Email,Sexo,Latitud,Longitud,_id_y,usuario_id,fecha,categoria,subcategoria
0,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre,43.328753,-3.031877,648061bca109944442e4c378,0,2022-09-20,hogar,nutricion y alimentacion
1,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre,43.328753,-3.031877,648063c0a109944442e4d995,0,2022-05-27,tramites,vamos al banco
2,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre,43.328753,-3.031877,648067f1a109944442e50d7d,0,2022-09-03,hogar,pequeñas reparaciones
3,64819759d519b789f5d44ea5,9,Jimena,Arnal,+34 981260355,Santurtzi,55,duranjennifer@example.net,hombre,43.328753,-3.031877,64806038a109944442e4afbf,9,2022-12-02,tramites,tramites medicos
4,64819759d519b789f5d44ea5,9,Jimena,Arnal,+34 981260355,Santurtzi,55,duranjennifer@example.net,hombre,43.328753,-3.031877,6480616ca109944442e4bf7a,9,2022-07-24,ayuda movilidad,transporte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49985,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700,6480600ba109944442e4ad5e,8457,2022-09-16,tramites,tecnologia
49986,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700,64806498a109944442e4e4a4,8457,2022-09-15,tramites,vamos al banco
49987,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700,6480667ea109944442e4fc7e,8457,2022-03-21,hogar,nutricion y alimentacion
49988,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700,6480670fa109944442e50304,8457,2022-01-23,ayuda movilidad,ocio
49989,648199c4d519b789f5d46fa5,8457,José Ángel,Manrique,+34 927 777 067,Etxebarria,98,dawnwall@example.org,mujer,43.254983,-2.478700,64806928a109944442e51d76,8457,2022-07-16,tramites,tramites y ayudas

In [10]:
# Combinar los DataFrames df_usuarios y df_ayudas en función de la columna "ID"
import pandas as pd


df_usuarios_quejas = pd.merge(df_combinado, df_quejas, left_on="ID", right_on="ID")

# Imprimir el DataFrame combinado
df_usuarios_quejas

,_id_x,ID,Nombre,Apellido,Telefono,Ciudad,Edad,Email,Sexo,Latitud,Longitud,_id_y,id_queja,Texto,Fecha
0,64819759d519b789f5d44ea5,9,Jimena,Arnal,+34 981260355,Santurtzi,55,duranjennifer@example.net,hombre,43.328753,-3.031877,64806d8ba109944442e54bec,174,Falta de opciones de transporte gratuito o red...,2022-04-20
1,6481975ed519b789f5d44ee9,77,Lorena,Bellido,+34886 445 509,Santurtzi,68,dalejohnston@example.com,mujer,43.328753,-3.031877,64806d8ba109944442e54bf2,180,Dificultad para acceder a servicios de transpo...,2022-05-07
2,64819761d519b789f5d44f1c,128,Belen,Jódar,+34846 816 949,Santurtzi,76,jennifer18@example.org,mujer,43.328753,-3.031877,64806d8ca109944442e54c01,195,Dificultad para acceder a servicios de transpo...,2022-03-13
3,6481976ad519b789f5d44f99,253,Ricarda,Alsina,+34825645462,Santurtzi,94,abbottpamela@example.com,hombre,43.328753,-3.031877,64806d8ca109944442e54bfa,188,Dificultad para acceder a servicios de respiro...,2022-04-20
4,6481976dd519b789f5d44fc0,292,Ágata,Carrillo,+34 973 319 251,Santurtzi,92,wanda89@example.com,mujer,43.328753,-3.031877,64806d8ca109944442e54bfb,189,Falta de programas de educación en prevención ...,2022-11-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,64819785d519b789f5d45106,618,Febe,Calderón,+34825 703 042,Karrantza Harana/Valle de Carranza,60,randy13@example.org,mujer,43.205743,-3.363937,64806d8aa109944442e54bdc,158,Falta de servicios de cuidado de la piel y pre...,2022-06-18
215,64819785d519b789f5d45112,630,Amada,Calvo,+34669 16 76 38,Karrantza Harana/Valle de Carranza,79,anaknight@example.net,mujer,43.205743,-3.363937,64806d8ba109944442e54be7,169,Escasez de opciones de recreación y actividade...,2022-09-26
216,6481977fd519b789f5d450b2,534,Ildefonso,Duarte,+34872 089 101,Ondarroa,57,antoniowest@example.org,hombre,43.322148,-2.422199,64806d84a109944442e54b92,84,Dificultad para acceder a servicios de transpo...,2022-04-18
217,6481977dd519b789f5d450a1,517,Crescencia,Bernal,+34 920223038,Laukiz,70,chris10@example.com,prefiero no contestar,43.349695,-2.914423,64806d81a109944442e54b62,36,Limitada disponibilidad de servicios de transp...,2022-08-08
218,6481977ed519b789f5d450aa,526,Catalina,Moles,+34 925 71 11 11,Laukiz,79,kathrynbuck@example.net,hombre,43.349695,-2.914423,64806d87a109944442e54bbb,125,Escasez de programas de educación financiera y...,2022-01-04

In [11]:
# df_quejas.to_csv('df_quejas.csv', index=False)
# df_usuarios.to_csv('df_usuarios.csv', index=False)
# df_ayudas.to_csv('df_ayudas.csv', index=False)

# df_usuarios_ayudas.to_csv('df_usuarios_ayudas.csv', index=False)
# df_usuarios_quejas.to_csv('df_usuarios_quejas.csv', index=False)

In [12]:
df_usuarios_ayudas.head(1)

,_id_x,ID,Nombre,Apellido,Telefono,Ciudad,Edad,Email,Sexo,Latitud,Longitud,_id_y,usuario_id,fecha,categoria,subcategoria
0,64819758d519b789f5d44e9c,0,Vilma,Torrens,+34 873 896 776,Santurtzi,74,rachelsmith@example.com,hombre,43.328753,-3.031877,648061bca109944442e4c378,0,2022-09-20,hogar,nutricion y alimentacion

In [13]:
df_usuarios_ayudas.drop(['_id_x','Nombre', 'Apellido', 'Telefono', 'Email', '_id_y','usuario_id'],axis=1, inplace=True)

In [14]:
df_usuarios_ayudas

,ID,Ciudad,Edad,Sexo,Latitud,Longitud,fecha,categoria,subcategoria
0,0,Santurtzi,74,hombre,43.328753,-3.031877,2022-09-20,hogar,nutricion y alimentacion
1,0,Santurtzi,74,hombre,43.328753,-3.031877,2022-05-27,tramites,vamos al banco
2,0,Santurtzi,74,hombre,43.328753,-3.031877,2022-09-03,hogar,pequeñas reparaciones
3,9,Santurtzi,55,hombre,43.328753,-3.031877,2022-12-02,tramites,tramites medicos
4,9,Santurtzi,55,hombre,43.328753,-3.031877,2022-07-24,ayuda movilidad,transporte
...,...,...,...,...,...,...,...,...,...
49985,8457,Etxebarria,98,mujer,43.254983,-2.478700,2022-09-16,tramites,tecnologia
49986,8457,Etxebarria,98,mujer,43.254983,-2.478700,2022-09-15,tramites,vamos al banco
49987,8457,Etxebarria,98,mujer,43.254983,-2.478700,2022-03-21,hogar,nutricion y alimentacion
49988,8457,Etxebarria,98,mujer,43.254983,-2.478700,2022-01-23,ayuda movilidad,ocio
49989,8457,Etxebarria,98,mujer,43.254983,-2.478700,2022-07-16,tramites,tramites y ayudas

In [19]:
df_usuarios_quejas.drop(['_id_x','Nombre', 'Apellido', 'Telefono', 'Email', 'id_queja'],axis=1, inplace=True)

In [20]:
df_usuarios_quejas

,ID,Ciudad,Edad,Sexo,Latitud,Longitud,_id_y,Texto,Fecha
0,9,Santurtzi,55,hombre,43.328753,-3.031877,64806d8ba109944442e54bec,Falta de opciones de transporte gratuito o red...,2022-04-20
1,77,Santurtzi,68,mujer,43.328753,-3.031877,64806d8ba109944442e54bf2,Dificultad para acceder a servicios de transpo...,2022-05-07
2,128,Santurtzi,76,mujer,43.328753,-3.031877,64806d8ca109944442e54c01,Dificultad para acceder a servicios de transpo...,2022-03-13
3,253,Santurtzi,94,hombre,43.328753,-3.031877,64806d8ca109944442e54bfa,Dificultad para acceder a servicios de respiro...,2022-04-20
4,292,Santurtzi,92,mujer,43.328753,-3.031877,64806d8ca109944442e54bfb,Falta de programas de educación en prevención ...,2022-11-04
...,...,...,...,...,...,...,...,...,...
214,618,Karrantza Harana/Valle de Carranza,60,mujer,43.205743,-3.363937,64806d8aa109944442e54bdc,Falta de servicios de cuidado de la piel y pre...,2022-06-18
215,630,Karrantza Harana/Valle de Carranza,79,mujer,43.205743,-3.363937,64806d8ba109944442e54be7,Escasez de opciones de recreación y actividade...,2022-09-26
216,534,Ondarroa,57,hombre,43.322148,-2.422199,64806d84a109944442e54b92,Dificultad para acceder a servicios de transpo...,2022-04-18
217,517,Laukiz,70,prefiero no contestar,43.349695,-2.914423,64806d81a109944442e54b62,Limitada disponibilidad de servicios de transp...,2022-08-08
218,526,Laukiz,79,hombre,43.349695,-2.914423,64806d87a109944442e54bbb,Escasez de programas de educación financiera y...,2022-01-04

In [22]:
df_usuarios.drop(['_id','Nombre', 'Apellido', 'Telefono', 'Email'],axis=1, inplace=True)

In [23]:
df_usuarios

        ID       Ciudad  Edad    Sexo
0        0    Santurtzi    74  hombre
1        1  Portugalete    89  hombre
2        2       Bilbao    95   mujer
3        3       Bilbao    90   mujer
4        4      Durango    74   mujer
...    ...          ...   ...     ...
9995  9995      Sondika   100  hombre
9996  9996        Getxo    66   mujer
9997  9997       Muskiz    81  hombre
9998  9998        Ermua    70   mujer
9999  9999        Ermua    86   mujer

[10000 rows x 4 columns]

In [26]:
df_ayudas.drop('_id', axis=1, inplace=True)

In [27]:
df_ayudas

       usuario_id       fecha        categoria              subcategoria
0            6628  2022-03-31            hogar                   compras
1            6073  2022-08-03            hogar  nutricion y alimentacion
2            8155  2022-05-21         tramites          tramites medicos
3            7068  2022-05-11         tramites            vamos al banco
4            6206  2022-12-20         tramites          tramites medicos
...           ...         ...              ...                       ...
49995        4379  2022-04-13  ayuda movilidad                transporte
49996        4556  2022-01-21  ayuda movilidad                transporte
49997        8931  2022-12-19            hogar                   compras
49998        7556  2022-04-03         tramites            vamos al banco
49999        1839  2022-02-19  ayuda movilidad                transporte

[50000 rows x 4 columns]

In [29]:
df_quejas.drop(['_id', 'id_queja'], axis=1, inplace= True)

In [30]:
df_quejas

      ID                                              Texto       Fecha
0    904   Falta de accesibilidad en los espacios públicos.  2022-01-18
1    924  Mejorar la iluminación en las calles durante l...  2022-01-27
2    405  Necesidad de más asientos o bancos en áreas de...  2022-05-23
3    728  Dificultad para leer letreros y carteles debid...  2022-10-09
4    651  Escasez de transporte público accesible para p...  2022-01-06
..   ...                                                ...         ...
214  224  Limitada disponibilidad de opciones de cuidado...  2022-02-06
215  666  Dificultad para acceder a servicios de transpo...  2022-12-01
216  349  Escasez de opciones de recreación y entretenim...  2022-10-17
217  620  Falta de servicios de orientación y asesoramie...  2022-10-15
218  808  Limitada accesibilidad en los espacios de trab...  2022-04-04

[219 rows x 3 columns]

In [31]:
# df_quejas.to_excel('df_quejas.xlsx', index=False)
# df_usuarios.to_excel('df_usuarios.xlsx', index=False)
# df_ayudas.to_excel('df_ayudas.xlsx', index=False)
# df_usuarios_ayudas.to_excel('df_usuarios_ayudas.xlsx', index=False)
# df_usuarios_quejas.to_excel('df_usuarios_quejas.xlsx', index=False)

# Analisis de quejas/sugerencias

In [3]:
import pandas as pd

In [15]:
df = pd.read_csv('./data/df_quejas.csv', delimiter=',')

In [16]:
df

,_id,ID,id_queja,Texto,Fecha
0,64806d7da109944442e54b3e,904,0,Falta de accesibilidad en los espacios públicos.,2022-01-18
1,64806d7ea109944442e54b3f,924,1,Mejorar la iluminación en las calles durante l...,2022-01-27
2,64806d7ea109944442e54b40,405,2,Necesidad de más asientos o bancos en áreas de...,2022-05-23
3,64806d7ea109944442e54b41,728,3,Dificultad para leer letreros y carteles debid...,2022-10-09
4,64806d7ea109944442e54b42,651,4,Escasez de transporte público accesible para p...,2022-01-06
...,...,...,...,...,...
214,64806d8ea109944442e54c14,224,214,Limitada disponibilidad de opciones de cuidado...,2022-02-06
215,64806d8ea109944442e54c15,666,215,Dificultad para acceder a servicios de transpo...,2022-12-01
216,64806d8ea109944442e54c16,349,216,Escasez de opciones de recreación y entretenim...,2022-10-17
217,64806d8ea109944442e54c17,620,217,Falta de servicios de orientación y asesoramie...,2022-10-15
218,64806d8ea109944442e54c18,808,218,Limitada accesibilidad en los espacios de trab...,2022-04-04

In [17]:
# Convert the 'Text' column to string data type
df['Texto'] = df['Texto'].astype(str)

In [18]:
import re
import pandas as pd

# Definir función para limpiar los tweets
def clean_tweet(text):
    # Convertir el texto a minúsculas
    text = text.lower()
    
    # Eliminar caracteres especiales como @ y #
    text = re.sub(r'[@#]', '', text)
    
    # Eliminar URL
    text = re.sub(r'http\S+|www\S+|https\S+', '', text)
    
    # Eliminar caracteres no alfanuméricos
    text = re.sub(r'\W', ' ', text)
    
    # Eliminar espacios adicionales
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

# Crear un nuevo DataFrame 'text_clean' con la columna 'Text_cleaned'
text_clean = pd.DataFrame()
text_clean['Text_cleaned'] = df['Texto'].apply(clean_tweet)

# Imprimir el DataFrame 'text_clean'
print(text_clean)

                                          Text_cleaned
0      falta de accesibilidad en los espacios públicos
1    mejorar la iluminación en las calles durante l...
2    necesidad de más asientos o bancos en áreas de...
3    dificultad para leer letreros y carteles debid...
4    escasez de transporte público accesible para p...
..                                                 ...
214  limitada disponibilidad de opciones de cuidado...
215  dificultad para acceder a servicios de transpo...
216  escasez de opciones de recreación y entretenim...
217  falta de servicios de orientación y asesoramie...
218  limitada accesibilidad en los espacios de trab...

[219 rows x 1 columns]

In [19]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

# Descargar recursos adicionales de NLTK
nltk.download('punkt')
nltk.download('stopwords')

# Obtener una lista de todas las palabras en los tweets
all_words = ' '.join(text_clean['Text_cleaned']).split()

# Obtener las stopwords en español
stop_words = set(stopwords.words('spanish'))

# Filtrar las palabras, excluyendo las stopwords y los caracteres no alfanuméricos
filtered_words = [word for word in all_words if word.isalpha() and word not in stop_words]

# Contar la frecuencia de las palabras
word_counts = Counter(filtered_words)

# Obtener las 10 palabras más frecuentes
top_words = word_counts.most_common(10)

# Imprimir las palabras más frecuentes
print("Palabras más frecuentes:")
for word, count in top_words:
    print(f"{word}: {count}")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arrat\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arrat\AppData\Roaming\nltk_data...

Palabras más frecuentes:
personas: 174
mayores: 174
servicios: 83
opciones: 60
falta: 55
escasez: 51
dificultad: 50
acceder: 49
atención: 48
limitada: 44

[nltk_data]   Unzipping corpora\stopwords.zip.